@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

@import './fonts';

@import './theme';

body {
  overflow-x: hidden;
}

@layer base {
  h1 {
    @apply text-3xl;
    font-weight: 600;
  }
  h2 {
    @apply text-2xl;
    font-weight: 600;
    word-break: break-word;
  }
}

@media (min-width: 640px) {
  table.billing {
    display: inline-table !important;
  }

  table.billing > thead tr:not(:first-child) {
    display: none;
  }
}

table.billing > td:not(:last-child) {
  border-bottom: 0;
}

table.billing > th:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

body.modal-open {
  // height: 100vh;
  overflow-y: hidden;
  // padding-right: 15px;
}

.instagram-media {
  margin: auto !important;
}

.carousel .slide .legend {
  border-radius: 0 !important;
}

.hyphens-auto {
  hyphens: auto;
}

/* range slider */
input[type='range']::-webkit-slider-thumb {
  height: 40px;
  width: 20px;
  background-color: white;
  border: 1px solid grey;
  cursor: pointer;
  border-radius: 10px;
}

input[type='range']::-moz-range-thumb {
  height: 40px;
  width: 20px;
  background-color: white;
  border: 1px solid grey;
  cursor: pointer;
  border-radius: 10px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.rich-text-link {
  @apply text-primary;
  text-decoration: underline;
}

.rich-text-link:hover {
  color: black;
}
