extends ../base.pug

block content
    if user.preferredName
        h1(style="margin: .67em 0; font-size:2em") Hoi #{user.preferredName},
    else if user.name
        h1(style="margin: .67em 0; font-size:2em") Hoi #{user.name},
    else
        h1(style="margin: .67em 0; font-size:2em") Hoi :),

    - price = invoice.items[0].quantity * invoice.items[0].amount / 100
    - invoiceLink = loginURL + '&next=%2Faccount%2Fsubscription%3FpayInvoiceNow%3D' + invoice.id
    - subscriptionLink = loginURL + '&next=%2Faccount%2Fsubscription'
    - profileLink = loginURL + '&next=%2Faccount%2Fprofile'

    p(style="margin: 1em 0;") es ist wieder soweit, um weiterhin Tsüri-Member zu bleiben, musst du kurz auf den Link klicken und uns ein klein wenig von deinem Geld schicken.

    p(style="margin: 1em 0;") In deinem #[a(href=subscriptionLink target="_blank") Profil] findest du eine neue Rechnung von #{price}.- CHF. Bezahle sie gleich jetzt, um weiterhin Lokaljournalismus zu ermöglichen und von den Tsüri-Member Vorteilen zu profitieren.

    a(href=subscriptionLink target="_blank" style="text-underline-color:#333") Hier verlängern.

    p(style="margin: 1em 0;") Oder klicke #[a(href=subscriptionLink target="_blank") hier], falls du deine Mitgliedschaft anpassen willst.

    p(style="margin: 1em 0;") Zusammen bewegen wir die Stadt!
    p(style="margin: 1em 0;")
        | Danke und liebe Grüsse,
        br
        | Seraina Manser



