doctype html
html(lang="de" dir="ltr" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office")
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1 user-scalable=yes')
    meta(name='format-detection' content='telephone=no, date=no, address=no, email=no, url=no')
    meta(name='x-apple-disable-message-reformatting')
    meta(name='color-scheme' content='light dark')
    meta(name='supported-color-schemes' content='light dark')
    title Email title
    style.
        :root {
            color-scheme: light dark;
            supported-color-schemes: light dark;
        }
        @media (prefers-color-scheme: light) {
            div.mailWrapper {
                background: #ffffff;
                color: #000000;
            }
        }

        @media (prefers-color-scheme: dark ) {

            div.mailWrapper {
                background: #000000;
                color: #ffffff;
            }

            img.invert {
                -webkit-filter: invert(1);
                filter: invert(1);
            }
        }
body
    div(role='article' aria-roledescription='email' aria-label='email name' lang='en' dir='ltr' style='font-size:16px; font-size:1rem; font-size:max(16px, 1rem)')
        div(class="mailWrapper")
            div(style='max-width:37.5em; margin:0 auto')
                a(href="https://tsri.ch" target="_blank")
                    img.invert(style="display:block; margin: auto; max-width: 250px" src="https://storage.googleapis.com/tsri-static/website-static/tsri-logo-sq.png")
                block content

                //div(style="display:table;width:60%;margin-left:20%;margin-bottom:30px;")
                //    div(style="display:table-cell;width:33%")
                //        a(href="https://www.facebook.com/tsuerich" target="_blank")
                //            img.invert(style="display:block; margin: auto; width: 60%" src="https://storage.googleapis.com/tsri-static/website-static/facebook.png")
                //
                //    div(style="display:table-cell;width:33%")
                //        a(href="https://twitter.com/Tsueri_ch" target="_blank")
                //            img.invert(style="display:block; margin: auto; width: 60%" src="https://storage.googleapis.com/tsri-static/website-static/twitter.png")
                //
                //    div(style="display:table-cell;width:33%")
                //        a(href="https://www.instagram.com/tsri.ch/" target="_blank")
                //            img.invert(style="display:block; margin: auto; width: 60%" src="https://storage.googleapis.com/tsri-static/website-static/instagram.png")

                div(style="max-width:37.5em; margin:0 auto;background:#36ADDF;padding:25px;")
                    p(style="margin: 1em 0;color:#ffffff;text-align:center;") Diese Email wurde dir gesendet von Tsüri AG, Glasmalergasse 5, 8004 Zürich
                    p(style="margin: 1em 0;color:#ffffff;text-align:center;")
                        a(style="text-decoration:none;color:inherit;" href="https://tsri.ch" target="_blank") tsri.ch
                        | !{' '}
                        a(style="text-decoration:none;color:inherit;" href="mailto:info@tsri.ch") info@tsri.ch
                    p(style="margin: 1em 0;color:#ffffff;text-align:center;") Copyright &copy; 2022 Tsüri AG, All rights reserved
