extends ../base.pug

block content
    if user.preferredName
        h1(style="margin: .67em 0; font-size:2em") Hoi #{user.preferredName},
    else if user.name
        h1(style="margin: .67em 0; font-size:2em") Hoi #{user.name},
    else
        h1(style="margin: .67em 0; font-size:2em") Hoi :),

    p(style="margin: 1em 0;") beim Verlängern deiner Tsüri-Mitgliedschaft hat etwas mit deiner Kreditkarte nicht funktioniert. Mögliche Gründe, warum die Zahlung nicht geklappt hat, sind:

    ul
        li Deine Karte ist abgelaufen.
        li Du hast nicht genügend Geld auf der Karte oder die Limite überzogen.
        li Deine Bank hat die Zahlung abgelehnt.

    - subscriptionLink = loginURL + '&next=%2Faccount%2Fsubscription'

    a(href=subscriptionLink target="_blank" style="text-underline-color:#333") Es wäre mega toll, wenn du mit einem Klick hier drauf die Zahlungsinformationen anpasst und damit deine Mitgliedschaft verlängerst. Vielen Dank.

    p(style="margin: 1em 0;") Zusammen bewegen wir die Stadt!
    p(style="margin: 1em 0;")
        |Danke und liebe Grüsse,
        br
        |Seraina Manser



