extends ../base.pug

block content
    h1(style="margin: .67em 0; font-size:2em") Schön bisch debi <3

    p(style="margin: 1em 0;") Vielen lieben Dank, dass du dich für eine Mitgliedschaft bei Tsüri.ch entschieden hast. Du bist ab jetzt Teil unserer supertollen Community. Es fehlt nur noch ein kleiner Schritt: Du musst noch deinen Account aktivieren. Das machst du mit einem Klick auf diesen Button:

    a(href=url target="_blank" style="background: #36ADDF; text-decoration: none; padding: 15px 25px; color: #fff; display:inline-block; mso-padding-alt:0;text-underline-color:#333")
        span(style="mso-text-raise:15pt;") Account aktivieren

    p(style="margin: 1em 0;") Zusammen bewegen wir die Stadt!
    p(style="margin: 1em 0;")
        |Danke und liebe Grüsse,
        br
        |Seraina Manser



