extends ../base.pug

block content
    if user.preferredName
        h1(style="margin: .67em 0; font-size:2em") Hoi #{user.preferredName},
    else if user.name
        h1(style="margin: .67em 0; font-size:2em") Hoi #{user.name},
    else
        h1(style="margin: .67em 0; font-size:2em") Hoi :),

    p(style="margin: 1em 0;") danke vielmals, dass du deine Tsüri-Mitgliedschaft verlängert hast. Es hat alles geklappt!

    p(style="margin: 1em 0;") Zusammen bewegen wir die Stadt!
    p(style="margin: 1em 0;")
        |Danke und liebe Grüsse,
        br
        |Seraina Manser



